body {
  padding: 20px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: red;
}

body > .messages {
  width: 100%;
}

body.freezer {
  color: white;
}

body.terminal {
  color: green;
}
